Package: safemode
Version: 0.5.0
Section: base
Priority: optional
Architecture: armel
Maintainer: Martín Fernández <paziusss@gmail.com>
Description: Enable usbnet and usb storage with home button presses.
  For BQ Cervantes ereaders.
